myLegalName = "O=Notary,L=Warsaw,C=PL"
additionalP2PAddresses = <!--additionalP2PAddresses-->
attachmentContentCacheSizeMegaBytes = 10
attachmentCacheBound = 1024
blacklistedAttachmentSigningKeys = <!--blacklistedAttachmentSigningKeys-->
cordappSignerKeyFingerprintBlacklist = <!--cordappSignerKeyFingerprintBlacklist-->
crlCheckSoftFail = True
custom = {
    jvmArgs = -Xms256m -Xmx768m
}
database = {
    transactionIsolationLevel = REPEATABLE_READ
    exportHibernateJMXStatistics = False
    initialSchema = True
    initialAppSchema = NONE

}
dataSourceProperties = {
    dataSourceClassName = org.h2.jdbcx.JdbcDataSource
    dataSource.url = org.h2.jdbcx.JdbcDataSource
    dataSource.user = su
    dataSource.password = ""
}
detectPublicIp = False
devMode = False
emailAddress = notary@amw.gdynia.pl
extraNetworkMapKeys = <!--extraNetworkMapKeys-->
flowMonitorPeriodMillis = 60
flowMonitorSuspensionLoggingThresholdMillis = 60
flowTimeout {
    timeout = 30
    maxRestartCount = 6
    backoffBase = 1.8
}
h2Settings = NULL
jarDirs = <!--jarDirs-->
jmxMonitoringHttpPort = <!--jmxMonitoringHttpPort-->
jmxReporterType = JOLOKIA
keyStorePassword = cordacadevpass
lazyBridgeStart = <!--lazyBridgeStart-->
messagingServerAddress = <!--messagingServerAddress-->
messagingServerExternal = <!--messagingServerExternal-->
notary = {
	validating = True
	serviceLegalName = <!--notary.serviceLegalName-->
	raft = {
		nodeAddress= <!--notary.raft.nodeAddress-->
		clusterAddresses = <!--notary.raft.clusterAddresses-->
	}
	bftSMaRt = {
		replicaId = <!--notary.bftSMaRt.replicaId-->
		clusterAddresses = <!--notary.dftSMaRt.clusterAddresses-->
	}
}
networkParameterAcceptanceSettings = {
	autoAcceptEnabled = True
	excludedAutoAcceptableParameters = <!--networkParameterAcceptanceSettings.excludedAutoAcceptableParameters-->

}
networkServices = {
	doormanURL = cordaNetworkMap.gdynia.amw.pl:8080
	networkMapURL = cordaNetworkMap.gdynia.amw.pl:8080
	pnm = <!--networkServices.pnm-->
}
p2pAddress = notary.gdynia.amw.pl:8080
rpcSettings = {
	address = notary.gdynia.amw.pl:1001
	adminAddress = notary.gdynia.amw.pl:1002
	standAloneBroker = False
    useSsl = False
    ssl = {
    	keyStorePath = <!--rpcSettings.ssl.keyStorePath-->
    	keyStorePassword = <!--rpcSettings.ssl.keyStorePassword-->
    }
}
rpcUsers = { username=notary, password=letmein, permissions=[ ALL ] }
security = <!--security-->
sshd = {
	port = 1337
}
systemProperties = <!--systemProperties-->
transactionCacheSizeMegaBytes = 8
tlsCertCrlDistPoint = NULL
tlsCertCrlIssuer = NULL
trustStorePassword = trustpass
useTestClock = <!--useTestClock-->
verifierType = <!--verfierType-->