myLegalName = "O=Windmill Thomas,L=Gdynia,C=PL"
additionalP2PAddresses = <!--additionalP2PAddresses-->
attachmentContentCacheSizeMegaBytes = 10
attachmentCacheBound = 1024
blacklistedAttachmentSigningKeys = <!--blacklistedAttachmentSigningKeys-->
cordappSignerKeyFingerprintBlacklist = <!--cordappSignerKeyFingerprintBlacklist-->
crlCheckSoftFail = True
custom = {
    jvmArgs = -Xms256m -Xmx768m
}
database = {
    transactionIsolationLevel = REPEATABLE_READ
    exportHibernateJMXStatistics = False
    initialiseSchema = True
    initialiseAppSchema = NONE

}
dataSourceProperties = {
    dataSourceClassName = org.h2.jdbcx.JdbcDataSource
    dataSource.url = org.h2.jdbcx.JdbcDataSource
    dataSource.user = sa
    dataSource.password = ""
}
detectPublicIp = False
devMode = False
emailAddress = thomas@amw.gdynia.pl
extraNetworkMapKeys = <!--extraNetworkMapKeys-->
flowMonitorPeriodMillis = 60
flowMonitorSuspensionLoggingThresholdMillis = 60
flowTimeout {
    timeout = 30
    maxRestartCount = 6
    backoffBase = 1.8
}
h2Settings = NULL
jarDirs = <!--jarDirs-->
jmxMonitoringHttpPort = <!--jmxMonitoringHttpPort-->
jmxReporterType = JOLOKIA
keyStorePassword = cordacadevpass
messagingServerAddress = <!--messagingServerAddress-->
messagingServerExternal = <!--messagingServerExternal-->
networkParameterAcceptanceSettings = {
	autoAcceptEnabled = True
	excludedAutoAcceptableParameters = <!--networkParameterAcceptanceSettings.excludedAutoAcceptableParameters-->

}
networkServices = {
	doormanURL = cordaNetworkMap.gdynia.amw.pl:8080
	networkMapURL = cordaNetworkMap.gdynia.amw.pl:8080
	pnm = <!--networkServices.pnm-->
}
p2pAddress = thomas.gdynia.amw.pl:8080
rpcSettings = {
	address = thomas.gdynia.amw.pl:1001
	adminAddress = thomas.gdynia.amw.pl:1002
	standAloneBroker = False
    useSsl = False
    ssl = {
    	keyStorePath = <!--rpcSettings.ssl.keyStorePath-->
    	keyStorePassword = <!--rpcSettings.ssl.keyStorePassword-->
    }
}
rpcUsers = { username=thomas, password=letmein, permissions=[ ALL ] }
security = <!--security-->
sshd = {
	port = 1337
}
systemProperties = <!--systemProperties-->
transactionCacheSizeMegaBytes = 8
tlsCertCrlDistPoint = NULL
tlsCertCrlIssuer = NULL
trustStorePassword = trustpass
